//- includes/head.jade
meta(charset="utf-8")
meta(name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes")
link(rel="stylesheet" href="css/main.min.css")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
script(src="js/main.min.js")
title Hello Word 