@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,700italic,700,600italic,800,800italic);
//septic colors 
$gray: #2b2b2b;
// default colors
$white: #ffffff;
$black: #000000;
$gray-50: #fafafa;
$gray-100: #f5f5f5;
$gray-200: #eeeeee;
$gray-300: #e0e0e0;
$gray-400: #bdbdbd;
$gray-500: #9e9e9e;
$gray-600: #757575;
$gray-650: #535353;
$gray-700: #616161;
$gray-800: #424242;
$gray-900: #212121;
// layout colors
$color-primary: #3ac7f4;
$color-second: #d8effd;
$color-third: #ffeb3b;
$bg-head: #dddce2;
$green: #8bc34a;

// fonts
$font-primary: 'Open Sans',
Arial,
sans-serif;
// radius
$radius-primary: 4px;
$radius-second: 30px;
// shadow
$shadow-primary: 1px 2px 6px rgba(0, 0, 0, .2);
// breakpoints
$S: 768px;
$M: 992px;
$L: 1200px;
// functions #############################################################
@function black($opacity) {
    @return rgba(0, 0, 0, $opacity);
}

@function white($opacity) {
    @return rgba(255, 255, 255, $opacity);
}

// mixins #############################################################
// media queries
@mixin box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin anim {
  -webkit-transition-duration:0.3s;
    -o-transition-duration:0.3s;
    -moz-transition-duration:0.3s;
    transition-duration:0.3s;
}

@mixin MQlite($media) {
    @if $media==sm {
        @media only screen and (max-width: $S) {
            @content;
        }
    }
    @else if $media==md {
        @media only screen and (max-width: $M) {
            @content;
        }
    }
    @else if $media==lg {
        @media only screen and (max-width: $L) {
            @content;
        }
    }
}

@mixin MQ($media) {
    @if $media==xs {
        @media only screen and (max-width: $S - 1) {
            @content;
        }
    }
    @else if $media==sm {
        @media only screen and (min-width: $S) and (max-width: $M - 1) {
            @content;
        }
    }
    @else if $media==md {
        @media only screen and (min-width: $M) and (max-width: $L - 1) {
            @content;
        }
    }
    @else if $media==lg {
        @media only screen and (min-width: $L) {
            @content;
        }
    }
}

// center vertically and/or horizontally an absolute positioned element
@mixin center($xy:xy) {
    @if $xy==xy {
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        transform: translate(-50%, -50%);
    }
    @else if $xy==x {
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }
    @else if $xy==y {
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);
    }
}